<section>
    <div class="welcome-text content">
        <p>
          <strong>
              Varmt välkommen till Fotidyllen Fotvård i Hedemora.
          </strong>
          Låt Fotidyllen i trevliga Hedemora ta hand om dina fötter. För tidsbokning eller information, ring Maria Strandberg, auktoriserad fotterapeut, på telefonnummer 0225-101 93. Fotidyllen erbjuder flera behandlingar för fötter med olika behov.

        </p>

        <img src="assets/img/maria-och-angelica.jpg">

      </div>

</section>





