.content {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr;

  div {
    padding: 1rem 0;
  }
}

iframe {
  width: 100%;
  height: 400px;
}

p::first-line {
  font-weight: bold;
}

@media screen and (min-width: 700px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }
}
