<div class="row">
  <therapist
    class="col-12 col-sm-6"
    imgUrl="assets/img/maria.jpg"
    name="Maria Strandberg"
    description="Maria är auktoriserad
        fotterapeut samt utbildad undersköterska. Hon tar emot
        privatpersoner såväl som remitterade patienter. Maria är medlem i
        Sveriges Fotterapeuter och innehar därmed behandlingsskadeförsäkring."
  >
  </therapist>
  <therapist
    class="col-12 col-sm-6"
    imgUrl="assets/img/angelika.jpg"
    name="Angelika Skye"
    description="Angelika är diplomerad medicinsk
        fotterapeut samt utbildad undersköterska. Hon tar emot
        privatpersoner. Angelika är medlem i
        Sveriges Fotterapeuter och innehar därmed behandlingsskadeförsäkring."
  >
  </therapist>
</div>
