<section>
    <div class="treatments">
        <p class="treatment">
            <strong>Medicinsk fotvård - 530 kr</strong>
            Fotbad, nagelklippning, nagelslipning, behandling av eventuella förhårdnader, liktornar, hälsprickor och nageltrång. Avslutningsvis smörjs fötterna in med mjukgörande oljor
        </p>
        <p class="treatment">
            <strong>Delbehandling - 450 kr</strong>
            Fotbad följt av nagelbehandling alternativt hudbehandling. Avslutningsvis smörjs fötterna in med mjukgörande oljor
        </p>
        <p class="treatment">
            <strong>Minibehandling - 370 kr</strong>
            Specifik behandling efter behov. Exempelvis nageltrång, liktorn, vårta
        </p>
        <div>
            <figure>
                <img src="assets/img/before.jpg" alt="Före medicinsk fotvård"/>
                <figcaption>
                  Före Medicinsk fotvård
                </figcaption>
            </figure>
            <figure>
                <img src="assets/img/after.jpg" alt="Efter medicinsk fotvård">
                <figcaption>
                  Efter Medicinsk fotvård
                </figcaption>
            </figure>


        </div>
        <figure>
            <img src="assets/img/giftcard.jpg" alt="Fotidyllen erbjuder presentkort">
            <figcaption>
              Fotidyllen erbjuder presentkort
            </figcaption>
        </figure>


    </div>
</section>

